.form {
  display: flex;
  flex-direction: column;
  > div {
    &:first-child{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 0 20px;
      justify-items: center;
      align-items: center;
    }
  }
}
